<div class="container">
  <h1>Welcome to the Github finder!</h1>
  <p>powered by octokit</p>
  
</div>

<div class="container">
  <h2>Enter a username to get the 411 on their github!</h2>
  <form name="input" action="/userinfo" method="get">
    Username: <input type="text" placeholder="github_screename" name="name">
    <input type="submit" value="Submit">
  </form> 
</div>
